.form .form-field {
  display: block;
  margin-bottom: 35px;

  &__input {
    display: none;
  }
}

.form .form-field--text {
  margin-bottom: 18px;
}

.form-field__label--radio,
.form-field__label--checkbox {
  display: inline-block;
  position: relative;
  margin-left: 60px;
  font-family: $font-open-sans-bold;
  font-size: 17px;
}

.form-field__input--radio + label:before,
.form-field__input--checkbox + label:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -10px;
  left: -60px;
  width: 35px;
  height: 35px;
  border: 2px solid $secondary-text-color;
  border-radius: 50%;
  cursor: pointer;
  }

.form-field__input--checkbox + label:before {
  border-radius: 0%;
}

.form-field__input--text {
  width: 100%;
  padding: 14px 0 14px;
  font-family: $font-open-sans;
  font-size: 17px;
  border: none;
  border-bottom: 2px solid $main-text-color;
}

.form-field__input--text::-mozz-placeholder {
  font-family: $font-open-sans;
  font-size: 17px;
  color: $placeholder-text-color;
}

.form-field__input--text::-webkit-input-placeholder {
  font-family: $font-open-sans;
  font-size: 17px;
  color: $placeholder-text-color;
}

.form-field__input--phone {
  background: url(/img/icon-phone.svg) no-repeat 97% 50%;
}

.form-field__input--mail {
  background: url(/img/icon-mail.svg) no-repeat 98% 50%;
}

.form-field__message {
  width: 99%;
  min-height: 125px;
  padding: 18px 0 0 17px;
  border: 2px solid $main-text-color;
}

.form-field__message::-mozz-placeholder {
  font-family: $font-open-sans;
  font-size: 17px;
  color: $placeholder-text-color;
}

.form-field__message::-webkit-input-placeholder {
  font-family: $font-open-sans;
  font-size: 17px;
  color: $placeholder-text-color;
}
