.about-us {
  font-family: $font-open-sans-bold;
  color: $main-text-color;

  &__wrapper {
    margin: 33px 30px;
  }

  &__title {
    font--size: 25px;
    line-height: 25px;
    margin: 0;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    padding-top: 85px;
    font-size: 17px;
  }

  &__item--clean {
    background: url(/img/icon-feature-1.svg) no-repeat 0% 35%;
  }

  &__item--style {
    background: url(/img/icon-feature-3.svg) no-repeat 0% 35%;
  }

  &__item--like {
    background: url(/img/icon-feature-5.svg) no-repeat 0% 35%;
  }

  &__item--love {
    background: url(/img/icon-feature-2.svg) no-repeat 0% 35%;
  }

  &__item--support {
    background: url(/img/icon-feature-4.svg) no-repeat 0% 35%;
  }

  &__item--gift {
    background: url(/img/icon-feature-6.svg) no-repeat 0% 35%;
  }
}
