.btn {
  display: block;
  width:100%;
  padding: 17px 0;
  font-family: $font-open-sans-bold;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  background: $main-bg-color;
  color: $secondary-text-color;
  border: 2px solid $secondary-text-color;
}

@media ($tablet-widths) {
  .btn {
    width: 43%;
    /*width: 230px;*/
  }
}

@media ($desktop-widths) {
  .btn {
    width: 230px;
  }
}
