/*--MOBILE--*/

.btn {
  display: block;
  width: 256px;
  margin: 0 auto;
  padding: 17px 0;
  font-family: $font-open-sans-bold;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  background: $main-bg-color;
  color: $secondary-text-color;
  border: 2px solid $secondary-text-color;
}

/*--TABLET--*/

@media ($tablet-widths) {
  .btn {
    //width: 43%;
    width: 226px;
  }
}

/*--DESKTOP--*/

@media ($desktop-widths) {
  .btn {
    width: 226px;
  }
}
