.category {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    padding: 30px;
    text-align: left;

    &--interior {
      background: $main-color  url(/img/icon-interior.svg) no-repeat 91% 50%;
    }

    &--toys {
      background: $secondary-color url(/img/icon-toy.svg) no-repeat 93% 50%;
    }
  }

  &__item a {
    margin: 0;
    padding: 0;
    font-size: 19px;
    text-decoration: none;
    color: $main-bg-color;
  }
}

@media ($tablet-widths) {
  .category {

    &__item {
      display: inline-block;
      min-width: /*334px*/40%;
      height: 107px;
      margin: 0;
    }
  }
}

@media ($desktop-widths) {
  .category {

    &__item {
      height: 100px;
    }
  }
}
