/*--MOBILE--*/

.contacts {
  font-family: $font-open-sans;
  font-size: 15px;
  color: $secondary-text-color;
}

.contacts__wrapper {
  margin: 88px 30px -10px;
}

.contacts__title {
  margin-bottom: 34px;
  font-family: $font-open-sans-bold;
  font-size: 18px;
  color: $main-text-color;
}

.contacts__item {
  margin-bottom: 35px;
  padding: 0;
}

.contacts__type {
  padding-right: 28px;
  vertical-align: top;
}

.contacts__address {
  display: inline-block;
  margin-top: -5px;
  font-size: 15px;
  line-height: 29px;
  text-decoration: none;
  color: $secondary-text-color;
}

.contacts__address--mail {
  width: 178px;
  border-bottom: 1px solid $main-color;

  &:hover {
    color: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__address--city {
  width: 141px;
}

/*--TABLET--*/

@media ($tablet-widths) {
  .contacts {
    font-size: 17px;
    background: url(/img/icon-flag.svg) no-repeat;
    background-position: 93% 23%;
  }

  .contacts__wrapper {
    margin: 75px 50px 0;
    padding-top: 30px;
    padding-bottom: 6px;
  }

  .contacts__title {
    font-size: 43px;
  }

  .contacts__item {
    display: inline-block;
    width: 300px;
    margin-top: 14px;
    margin-right: 20px;
    font-size: 17px;
    vertical-align: top;
  }

  .contacts__type {
    padding-right: 20px;
  }

  .contacts__address {
    vertical-align: top;
    font-size: 17px;
  }

  .contacts__address--mail {
    width: 205px;
  }

  .contacts__address--city {
    width: 221px;
  }
}

/*--DESKTOP--*/

@media ($desktop-widths) {
  .contacts {
    background-position: 9% 41%;
  }

  .contacts__wrapper {
    margin: 45px 50px 105px 225px;
  }

  .contacts__title {
    margin-top: 150px;
    font-size: 53px;
  }

  .contacts__item {
    display: block;
    margin-top: 45px;
    margin-bottom: 0px;
  }

  .contacts__address--city {
    width: 221px;
  }
}
