/*--MOBILE--*/

.contacts {
  font-family: $font-open-sans;
  font-size: 15px;
  color: $secondary-text-color;
}

.contacts__wrapper {
  margin: 45px 30px 42px;
}

.contacts__title {
  font-family: $font-open-sans-bold;
  font-size: 18px;
  color: $main-text-color;
}

.contacts__item {
  margin-bottom: 10px;
  padding: 0;
}

.contacts__type {
  padding-right: 32px;
  vertical-align: top;
}

.contacts__address {
  display: inline-block;
  width: 150px;
  margin-top: -5px;
  font-size: 15px;
  line-height: 2;
  text-decoration: none;
  color: $secondary-text-color;
}

/*--TABLET--*/

@media ($tablet-widths) {
  .contacts {
    font-size: 17px;
    background: url(/img/icon-flag.svg) no-repeat;
    background-position: 93% 0%;
  }

  .contacts__wrapper {
    margin: 75px 50px 0;
  }

  .contacts__title {
    font-size: 43px;
  }

  .contacts__item {
    display: inline-block;
    width: 300px;
    margin-right: 30px;
    font-size: 17px;
  }

  .contacts__address {
    vertical-align: top;
    font-size: 17px;
  }
}

/*--DESKTOP--*/

@media ($desktop-widths) {
  .contacts {
    background-position: 9% 0%;
  }

  .contacts__wrapper {
    margin: 70px 50px 105px 225px;
  }

  .contacts__title {
    margin-top: 150px;
    font-size: 53px;
  }

  .contacts__item {
    display: block;
    margin-bottom: 50px;
  }

  .contacts__address {
    width: 200px;
  }
}
