/*--MOBILE--*/

.intro {
  margin: 0;
  padding: 51px 30px 58px;
  background-color: $secondary-bg-color;
  color: $main-text-color;

  &--index {
  min-height: 355px;
  background: url(/img/hero-mobile@1x.jpg) no-repeat 50% -20%;
  }
}

.intro__note {
  display: none;
}

.intro__header {
  font-family: $font-open-sans-bold;
  font-size: 27px;
  line-height: 30px;
}

/*--TABLET--*/

@media ($tablet-widths) {
  .intro {
    min-height: 115px;
    border-top: 1px solid  $border-color;

   &--index {
     min-height: 745px;
     background-size: cover;
    }
  }

  .intro__header {
    margin-top: 43px;
    margin-left: 0;
    font-size: 43px;
    line-height: 49px;

    &--index {
      margin-top: 101px;
    }
  }
}

/*--DESKTOP--*/

@media ($desktop-widths) {
  .intro {
    min-height: 145px;

    &--index {
      min-height: 630px;
    }
  }
}
