.intro {
  margin: 0;
  padding: 55px 30px;
  background-color: $secondary-bg-color;
  color: $main-text-color;

  &__header {
    font-family: $font-open-sans-bold;
    font-size: 27px;
    line-height: 1.2;
  }

  &--index {
    min-height: 160px;
    background: url(/img/hero-mobile@1x.jpg) no-repeat 50% 0%;
    background-size: cover;
  }
}
