/*--MOBILE--*/

.intro {
  margin: 0;
  padding: 55px 30px;
  background-color: $secondary-bg-color;
  color: $main-text-color;
}

.intro__note {
  display: none;
}

.intro__header {
  font-family: $font-open-sans-bold;
  font-size: 27px;
  line-height: 1.2;
}

.intro--index {
  min-height: 160px;
  background: url(/img/hero-mobile@1x.jpg) no-repeat 50% 0%;
  background-size: cover;
}

/*--TABLET--*/

@media ($tablet-widths) {
  .intro {
    min-height: 175px;
    border-top: 1px solid  $border-color;

   &--index {
      min-height: 745px;
    }
  }

  .intro__header {
    margin-top: 60px;
    margin-left: 0;
    font-size: 53px;
    line-height: 53px;

    &--index {
      margin-top: 165px;
    }
  }
}

/*--DESKTOP--*/

@media ($desktop-widths) {
  .intro {
    min-height: 195px;

    &--index {
      min-height: 630px;
    }
  }
}
