/*--MOBILE--*/

.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  width: 21px;
  height: 21px;
  background: url(/img/icon-menu-close.svg) no-repeat 0% 50%;
  cursor: pointer;
  border: none;
  z-index: 2;
}

.main-nav__wrapper {
  border: 1px solid $border-color;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  margin: 0;
  border: 1px solid $border-color;
}

.main-nav__logo {
  display: inline-block;
  min-height: 35px;
  padding: 22px;
  border: none;
  }

 /* &__item--search {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 32px;
      left: 30px;
      width: 21px;
      height: 21px;
      background: url(/img/icon-search.svg) no-repeat;
    }
  }

  &__item--cart {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 32px;
      left: 30px;
      width: 21px;
      height: 21px;
      background: url(/img/icon-cart.svg) no-repeat;
    }
  }*/

.main-nav__item--search {
  background: url(/img/icon-search.svg) no-repeat 10% 48%;
}

.main-nav__item--cart {
  background: url(/img/icon-cart.svg) no-repeat 10% 50%;
}

.main-nav__item--desktop,
.main-nav__item--tablet {
  display: none;
}

.main-nav__item a {
  display: block;
  padding: 30px;
  font-size: 17px;
  text-decoration: none;
  color: $main-text-color;
}

/*--TABLET--*/

@media ($tablet-widths){
  .main-nav {
    width: auto;
    margin: 0;
    margin-bottom: -50px;
  }

  .main-nav__wrapper {
    @include container;
    //margin: 0 50px;
    margin: 0 auto;
    border: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .main-nav__logo {
    order: 1;
    margin-right: 200px;
    padding-left: 0;
  }

  .main-nav__logo img {
    margin-left: 0;
    padding: 22px 0;
  }

  .main-nav__item {
    padding: 0;
    border: none;
  }

  .main-nav__item a {
    padding: 15px 0;
    font-size: 15px;
  }

  .main-nav__item:nth-child(2) {
    order: 4;
    margin-right: 35px;
  }

  .main-nav__item:nth-child(3) {
    order: 5;
    margin-right: auto;
  }

  .main-nav__item--cart {
    order: 3;
    padding: 0;
    padding-left: 60px;
    border-left: 1px solid $border-color;
  }

  .main-nav__item--cart a {
    padding: 32px 0;
    padding-right: 0;
  }

  .main-nav__item--search {
    order: 2;
    margin-left: auto;
    padding: 0;
    border-left: 1px solid $border-color;
  }

  .main-nav__item--search a {
    padding: 32px 0;
    padding-right: 0;
  }

  .main-nav__item--tablet {
    display: block;
    align-self: center;
    order: 6;
    font-family: $font-open-sans;
    font-size: 15px;
  }

  .main-nav__item--search a,
  .main-nav__item--cart a {
    font-size: 17px;
  }
}

/*--DESKTOP--*/

@media ($desktop-widths) {
  .main-nav {
    width: auto;
  }

  .main-nav__item--desktop {
    display: block;
  }

  .main-nav__wrapper {
    @include container-fluid;
    margin: 0 50px;
    /*@include container;
    margin: 0 auto;*/
  }

  .main-nav__logo {
    flex-basis: 300px;
    order: 3;
    margin-right: 0px;
  }

  .main-nav__item:nth-child(2) {
    order: 1;
    margin: auto;
    margin-left: 0;
    padding: 17px 0;
    padding-right: 34px;
    border-right: 1px solid $border-color;
  }

  .main-nav__item:nth-child(2) a {
    font-size: 17px;
  }

  .main-nav__item:nth-child(3) {
    order: 2;
    margin: auto;
    margin-left: 0;
    padding-left: 34px;
  }

  .main-nav__item:nth-child(3) a {
    font-size: 17px;
  }

  .main-nav__item--search {
    order: 4;
  }
  .main-nav__item--cart {
    order: 5;
  }
  .main-nav__item:nth-child(6) {
    order: 6;
    margin-right: 60px;
  }
  .main-nav__item:nth-child(7) {
    order: 7;
    margin-right: auto;
  }

  .main-nav__item--tablet {
    order: 8;
  }
}
