/*--MOBILE--*/

.map {
  position: relative;
  margin: 0;
  padding: 0;
}

.map::after {
  content: "";
  position: absolute;
  top: 38%;
  left: 38%;
  width: 66px;
  height: 101px;
  background: url(/img/icon-map-pin.svg) no-repeat 50% 50%;
}

.map img {
  display: block;
  width: 100%;
  height: auto;
}

/*--TABLET--*/

@media ($tablet-widths) {
  .map img {
    display: block;
    width: 100%;
    height: 455px;
  }
}

/*--DESKTOP--*/

@media ($desktop-widths) {
  .map {
    @include clearfix();
  }

  .map img {
    display: block;
    float: right;
    width: 525px;
    height: 455px;
    margin: -450px 50px 105px 0;
  }

  .map::after {
    display: none;
  }
}
