/*--MOBILE--*/

.modal {
  display: block;
  max-width: 320px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -818px;
  z-index: 15;
  text-align: center;
  background: $main-bg-color;
  box-shadow: 0 5px 10px #c7c7c7;

  &--hidden {
    display: none;
  }
}

.modal__wrapper {
  padding: 30px 30px 45px;
  border: 1px solid #c7c7c7;
}

.modal__title {
  font-family: $font-open-sans-bold;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}

.modal-block {
  padding: 0;
  margin: 0;
  border: none;
}

.modal-block__select {
  display: block;
  margin-top: 20px;
  font-family: $font-open-sans;
  font-size: 15px;
  line-height: 15px;
  color: $secondary-text-color;
}

.modal-field {
  display: inline-block;
  width: 77px;
  margin-top: 31px;
  margin-right: 7px;
  vertical-align: middle;
}

.modal-field:last-child {
  margin-right: 0;
}

.modal-field__input {
  display: none;
}

.modal-field__label {
  display: block;
  padding: 13px 0;
  font-family: $font-open-sans-bold;
  font-size: 17px;
  border: 2px solid $border-color;
  outline: none;
  cursor: pointer;

  &:hover {
    border: 2px solid #c7c7c7;
  }

  &:checked {
    border: 2px solid $main-color;
  }
}

.modal__add {
  margin-top: 33px;
  background-color: $main-color;
  color: $main-bg-color;
  border: 2px solid transparent;
}

/*--TABLET--*/

@media ($tablet-widths) {
  .modal {
    max-width: 568px;
  }

  .modal__wrapper {
  padding: 47px 60px 46px;
}

  .modal__title {
    font-size: 30px;
    line-height: 30px;
  }

  .modal-block__select {
    margin-top: 32px;
    font-size: 17px;
    line-height: 17px;
  }

  .modal-field {
    width: 108px;
    margin-right: 7px;
    margin-bottom: 32px;
}

  .modal__add {
    width: 350px;
    margin: 0 auto;
  }
}

/*--DESKTOP--*/

@media ($desktop-widths) {
  .modal {
    width: 568px;
  }

  .modal-block__select {
    font-size: 17px;
    line-height: 17px;
  }
}
