/*--MOBILE--*/

.page-header {
  min-width: 320px;
  min-height: 79px;
  font-family: $font-open-sans-bold;
  text-align: center;
  background-color: $main-bg-color;
}

/*--TABLET--*/

@media ($tablet-widths) {
  .page-header {
    @include clearfix;
    min-height: 89px;
  }
}

/*--DESKTOP--*/

@media ($desktop-widths) {}
