.process {
  margin: 30px 30px 58px;
  font-family: $font-open-sans;
  text-align: left;
  color: $secondary-text-color;
  border: 1px solid $border-color;

  &__wrapper {
    padding: 33px 33px 32px;
  }

  &__title {
    display: block;
    padding-left: 60px;
    font-family: $font-open-sans-bold;
    font-size: 17px;
    background: url(/img/icon-video.svg) no-repeat 1% 50%;
    color: $main-text-color;
  }

  &__video {
    position:relative;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__video::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 30%;
    width: 101px;
    height: 77px;
    background: url(/img/icon-play.svg) no-repeat 50% 50%;
  }

  &__description {
    margin: -10px 0 25px;
    font-size: 13px;
    line-height: 2;
  }

  &__order {
    text-align: center;
  }
}

@media ($tablet-widths) {
  .process {
    position: relative;
    margin: 50px;

    &__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }

    &__title {
      margin-top: 400px;
      font-size: 20px;
      background: url(/img/icon-video.svg) no-repeat 1% 100%;
    }

    &__description {
      font-size: 15px;
    }

    &__order {
      width: 100%;
      margin: 0 auto;
    }
  }
}

@media ($desktop-widths) {
  .process {
    margin-bottom: 110px;

    &__video {
      top: 0;
      right: 100px;
      height: 455px;
      width: 680px;
    }

    &__wrapper {
      margin-bottom: 10px;
    }

    &__title {
      margin-left: 640px;
      margin-top: 0;
      padding-top: 100px;
      background: url(/img/icon-video.svg) no-repeat 15% 50%;
    }

    &__description {
      margin-left: 700px;
    }

    &__order {
      margin-left: 750px;
      width: 230px;
    }
  }
}
