.process {
  margin: 30px 30px 58px;
  font-family: $font-open-sans;
  text-align: left;
  color: $secondary-text-color;
  outline: 1px solid $border-color;

  &__wrapper {
    padding: 33px 33px 32px;
  }

  &__title {
    display: block;
    padding-left: 60px;
    font-family: $font-open-sans-bold;
    font-size: 17px;
    background: url(/img/icon-video.svg) no-repeat 1% 50%;
    color: $main-text-color;
  }

  &__video {
    position:relative;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__video::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 30%;
    width: 101px;
    height: 77px;
    background: url(/img/icon-play.svg) no-repeat 50% 50%;
  }

  &__description {
    margin: -10px 0 25px;
    font-size: 13px;
    line-height: 2;
  }

  &__order {
    text-align: center;
    vertical-align: middle;
  }
}
