.slider-item {
  display: block;

  &__text {
    margin: 0;
    padding: 38px 0 40px;
    font-size: 15px;
    line-height: 2;
  }

  &__author {
    margin-bottom: 15px;
    font-family: $font-open-sans-bold;
    font-size: 18px;
    color: $main-text-color;
  }

  &__nick {
    font-size: 18px;

  }

  &__prev {
    width: 49%;
    min-height: 50px;
    margin: 35px 0 37px;
    text-align: center;
    background: url(/img/icon-left-arrow.svg) no-repeat 50% 50%;
    border: none;
    outline: 1px solid $border-color;
  }

  &__next {
    width: 49%;
    min-height: 50px;
    margin: 35px 0 37px;
    background: url(/img/icon-right-arrow.svg) no-repeat 50% 50%;
    border: none;
    outline: 1px solid $border-color;
  }
}

@media ($tablet-widths) {
  .slider-item {

    &__text {
      font-size: 17px;
    }

    &__author {
      font-size: 18px;
    }

    &__nick {
      font-size: 17px;
    }

    &__prev {
      position: absolute;
      bottom: -20px;
      right: 150px;
      width: 80px;
      text-align: center;
      outline: none;
    }

    &__next {
      position: absolute;
      bottom: -20px;
      right: 60px;
      width: 80px;
      outline: none;
    }
  }
}

@media ($desktop-widths) {
  .slider-item {

    &__text {
      width: 770px;
    }

    &__author {
      font-size: 17px;
    }

    &__prev {
      bottom: 35px;
      right: 150px;
    }

    &__next {
      bottom: 35px;
      right: 60px;
    }
  }
}
