/*--MOBILE--*/

.slider {
  font-family: $font-open-sans;
  font-size: 0;
  color: $secondary-text-color;
}

.slider__wrapper {
  margin: 65px 30px 45px;
}

.slider__title {
  margin-bottom: 0;
  font-family: $font-open-sans-bold;
  font-size: 25px;
  line-height: 25px;
  color: $main-text-color;
}

.slider__write {
  margin: 0 auto;
  text-align: center;
}

/*--TABLET--*/

@media ($tablet-widths) {
  .slider {
    position: relative;
    height: 457px;
    background: url(/img/review@1x.jpg) no-repeat 0% 20%;
  }

  .slider__wrapper {
    margin: 0px 50px 70px;
  }

  .slider__title {
    padding-top: 85px;
    font-size: 43px;
    line-height: 43px;
  }

  .slider__write {
    position: absolute;
    top: 90px;
    right: 50px;
    width: 175px;
  }
}

/*--DESKTOP--*/

@media ($desktop-widths) {
  .slider {
    background: url(/img/review@1x.jpg) no-repeat 5% 20%;
  }

  .slider__wrapper {
    margin: 0 50px 70px 225px;
  }

  .slider__title {
    font-size: 53px;
    line-height: 53px;
  }
}
