.social {
  margin: 0 30px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  &__link {
    display: inline-block;
    margin: 20px;
  }

  &__link--in {
    width: 22px;
    height: 22px;
    background: url(/img/icon-insta.svg) no-repeat 50% 50%;
  }

  &__link--fb {
    width: 15px;
    height: 28px;
    background: url(/img/icon-fb.svg) no-repeat 50% 50%;
  }

  &__link--tw {
    width: 24px;
    height: 21px;
    background: url(/img/icon-twitter.svg) no-repeat 50% 50%;
  }
}

@media ($tablet-widths) {
  .social {
    display: inline-block;
    margin-left: 120px;
    padding: 0;
    text-align: center;
    border-bottom: none;
  }
}

@media ($desktop-widths) {
  .social {
    margin-left: 200px;
    text-align: center;
  }
}
